<!DOCTYPE html>

<html>

    <head>
        <title>
            ViewData
        </title>
    </head>

    <body>
        <div>
            <h1>
                ViewData Kullanımı
            </h1>
        </div>
        <div>
            <h3>isim: @ViewData["isim"]</h3>
            <h3>Soyisim: @ViewData["Soyisim"]</h3>
        </div>
    </body>






























</html>