<!DOCTYPE html>

<html>

<head>
    <title>
        TempData
    </title>
</head>

<body>
    <div>
        <h1>
            TempData Kullanımı
        </h1>
    </div>
    <div>
        <h3>isim: @TempData["isim"]</h3>
        <h3>Şirket: @TempData["sirket"]</h3>
        <h3>Tür: @TempData["tur"]</h3>
    </div>
</body>






























</html>