@model Viewe_Veri_Gonderme.Models.Product
@*Razor*@

<div>
    Id...: @Model.Id

</div>


<div>
    Ürün Adı...: @Model.UrunAdi

</div>

<div>
    Adet..: @Model.Adet

</div>
<div>
    Ürün Fiyatı...: @Model.Fiyat

</div>









