<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Layout Konu Anlatımı</title>

</head>
<body>

   <div> 
       @*1.Yol*@
       @*@Html.Partial("~/Views/Home/Partials/_navPartial.cshtml")*@
        @*2.Yol*@
        @{
            //Html.RenderPartial("~/Views/Home/Partials/_navPartial.cshtml");
        }
        @*3.Yol TagHelpers Yardımıyla*@
        @**@
        <partial name="~/Views/Home/Partials/_navPartial.cshtml"></partial>
        
        <content>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <partial name="~/Views/Home/Partials/_kategoriPartial.cshtml"></partial>
                    </div>
                    <div class="col-9">
                        @RenderBody()
                    </div>
                </div>
            </div>


        </content>


        <partial name="~/Views/Home/Partials/_footerPartial.cshtml"></partial>

    </div>

</body>


</html>