@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TagHelper_5.Models.User

@*<form action="Home/SaveUser" method="post">*@


<form asp-controller="Home" asp-action="SaveUser" method="post">
    <label asp-for="FirstName">Adınız</label>
    <input asp-for="FirstName"/>

    <label asp-for="LastName">Soyadınız</label>
    <input asp-for="LastName" />

    <button type="submit">Kaydet</button>

    
</form>

<a asp-action="Deneme" asp-controller="Home"> Deneme Sayfasına Git</a>