<div>

    <h2>Kullanıcı Bilgileri</h2>
    <h5>Kullanıcı Adi: mkavusdu</h5>
    <p>@ViewBag.Mesaj</p>
    @*Action'da oluşturulan viewBAg paritila view'e kadar taşınailiyor. model de aynı şekilde taşınabiliyor.*@



</div>